{% extends 'base.html' %}

{% block title %}Customer Registration - RentEasyIndia{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Customer Registration</h2>

        <form method="POST">

            <input type="text" name="name" placeholder="Full Name" required>

            <input type="email" name="email" placeholder="Email Address" required>

            <input type="text" name="phone" placeholder="Phone Number" required>

            <input type="text" name="address" placeholder="Address" required>

            <input type="password" name="password" placeholder="Create Password" required>

            <button type="submit" class="auth-btn">Register</button>

        </form>

        <p class="auth-text">
            Already have an account?
            <a href="{{ url_for('auth.customer_login') }}">Login Here</a>
        </p>
    </div>
</div>
{% endblock %}