<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - RentEasyIndia</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    {% include 'navbar.html' %}

    <section class="support-section">
        <div class="support-box">
            <h2>CONTACT US</h2>
            <p class="big-text">📞 +91-98765-43210</p>
            <p>WhatsApp Enabled</p>
            </a>

        </div>

        <div class="support-box">
            <h2>EMAIL US</h2>
            <p class="big-text">✉ support@renteasyindia.com</p>
        </div>

        <div class="support-box">
            <h2>STYLING SUPPORT</h2>
            <p>
                Click on the "Online" chat icon below for any fashion related queries.
                Our team is available between 10AM – 7PM IST.
            </p>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>
